In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading the CSV file
df= pd.read_csv(r'C:\Users\Work\Downloads\UPD_ Forbidden companies Clients as Do not touch- preliminary - UPD_ Forbidden companies Clients as Do not touch- preliminary.csv')

In [3]:
df.head()

,Last Name,Current Company,Current Company website,Company do not touch,Long Candidate ID,LinkedIn URL,Unnamed: 6
0,Horbel,Linearity GmbH,NaN,NaN,Zrecruit_248544000000240103,https://www.linkedin.com/in/dmytro-horbel/,AAA Minneapolis
1,Tenconi,Indeed.com;InAllMedia,NaN,NaN,Zrecruit_248544000000385161,https://www.linkedin.com/in/ltenconi/,Activate Partners
2,Glynskyi,VMware;Olearis;A-Level Ukraine,NaN,NaN,Zrecruit_248544000000436060,https://www.linkedin.com/in/featzima/,Al-Monitor
3,Holovko,gofingo,NaN,NaN,Zrecruit_248544000000637514,https://www.linkedin.com/in/codeine/,Anthem Tax Services
4,Stancanelli,Paxos,https://paxos.com,NaN,Zrecruit_248544000001575083,https://www.linkedin.com/in/martín-stancanelli...,Arity

In [4]:
## Creating a list of clients to check with current company
forbidden_comp= list(df['Unnamed: 6'].dropna())

In [5]:
len(forbidden_comp)

92

In [8]:
df.head()

,Last Name,Current Company,Current Company website,Company do not touch,Long Candidate ID,LinkedIn URL,Unnamed: 6
0,Horbel,Linearity GmbH,NaN,NaN,Zrecruit_248544000000240103,https://www.linkedin.com/in/dmytro-horbel/,AAA Minneapolis
1,Tenconi,Indeed.com;InAllMedia,NaN,NaN,Zrecruit_248544000000385161,https://www.linkedin.com/in/ltenconi/,Activate Partners
2,Glynskyi,VMware;Olearis;A-Level Ukraine,NaN,NaN,Zrecruit_248544000000436060,https://www.linkedin.com/in/featzima/,Al-Monitor
3,Holovko,gofingo,NaN,NaN,Zrecruit_248544000000637514,https://www.linkedin.com/in/codeine/,Anthem Tax Services
4,Stancanelli,Paxos,https://paxos.com,NaN,Zrecruit_248544000001575083,https://www.linkedin.com/in/martín-stancanelli...,Arity

In [1]:
## What this codeblock does: It goes through all the rows and checks if Current Company has a forbidden company in it.
### Then it adds that company name to Company do not touch column.


x= 0 # Index
while x<len(df):
    for i in forbidden_comp:
        if i.lower() in df.iloc[x]['Current Company'].lower():
            df['Company do not touch'].iloc[x]= i
    x += 1 # Index + 1 for while loop to end

NameError: name 'df' is not defined

In [42]:
# This is an idea code, i.e. it will not work for our situation because some people name their company differently on LI.

for i in range (len(df)):
    comp_names= df.iloc[i]['Current Company'].split(";")
    comp_names_lower= [compa.lower() for compa in comp_names]
    for comp in forbidden_comp:
        if comp.lower() in comp_names_lower:
            df['Company do not touch'].iloc[i]= comp

In [43]:
df.head()

,Last Name,Current Company,Current Company website,Company do not touch,Long Candidate ID,LinkedIn URL,Unnamed: 6
0,Horbel,Linearity GmbH,NaN,NaN,Zrecruit_248544000000240103,https://www.linkedin.com/in/dmytro-horbel/,AAA Minneapolis
1,Tenconi,Indeed.com;InAllMedia,NaN,NaN,Zrecruit_248544000000385161,https://www.linkedin.com/in/ltenconi/,Activate Partners
2,Glynskyi,VMware;Olearis;A-Level Ukraine,NaN,VMWare,Zrecruit_248544000000436060,https://www.linkedin.com/in/featzima/,Al-Monitor
3,Holovko,gofingo,NaN,NaN,Zrecruit_248544000000637514,https://www.linkedin.com/in/codeine/,Anthem Tax Services
4,Stancanelli,Paxos,https://paxos.com,Paxos,Zrecruit_248544000001575083,https://www.linkedin.com/in/martín-stancanelli...,Arity

In [44]:
# Saving the file
df.to_csv(r'C:\Users\Work\Downloads\Complete_forbidden.csv')